<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Natural Food Finder</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

    <header>
      <h1><em>Natural</em> Food Finder</h1>
    </header>

    <section class="application">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">

            <form class="form-inline search-form" action="/search" method="get">
                <fieldset class="form-group">
                  <div class="input-group">
                    <input type="search" name="term" placeholder="Search ingredients" class="form-control search-term">
                    <span class="input-group-btn">
                      <input type="submit" class="btn btn-primary submit-button" value="Go">
                    </span>
                  </div>
                </fieldset>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="result negative">
              <h2></h2>

              <p></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <h4>Natural Food Finder</h4>

      <div class="descriptive-text">
        | built by <a href="http://aarongodin.me">Aaron Godin</a>, <a href="http://github.com/piercena">Nick Pierce</a> |
        <a href="http://github.com/piercena/natural-food-finder">Github</a>
      </div>
    </footer>

    <script src="/assets/main.js"></script>

  </body>
</html>
